@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0px 0px 0px 0px;
}

main {
  margin: auto;
  padding: 16px;
}

footer {
  position: fixed;
  bottom: 40px;
  left: 40px;
  padding: 24px 0px;
}

nav {
  background: #ff5a34;
  border-bottom: 1px solid black;
  padding: 16px;
}

h1 {
  color: #146152;
  font-weight: bolder;
  text-shadow: #ffc83d 1px 0 10px;
}

h3 {
  display: block;
  grid-template-columns: 4fr;
}

footer {
  background: #b4cf66;
  left: 0;
  position: static;
  text-align: center;
  width: 100%;
}

/* ul {
  list-style-type: none;
}
*/

tr:nth-child(even) {
  background: #cec8c8;
}

.ingredients {
  text-decoration: underline;
}

.all-recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

/* grid-auto-columns: auto;

  */

.main-page {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: white;
}

.main-page-title {
  text-align: center;
}

.column {
  text-decoration: underline;
}

a:hover {
  color: green;
  text-decoration: none;
}

.image {
  height: 200px;
}
